<div class="subcolumns period">
<div class="c25l">
<div class="subcl type-text"><span><%= labels.from %>:</span>
 <input type="text"	class="adddatepicker required" name="periods[<%=index %>].startDate"	value="" style="display: inline;" />
 </div>
</div>
<div class="c20l">
<div class="subcl type-text"><span><%= labels.to %>:</span> <input type="text"
	class="adddatepicker required" name="periods[<%= index %>].endDate"
	value="" style="display: inline;" /></div>
</div>
<div class="c10l"><label></label> <a href="#"
	class="erase_period" title="erase"><%= labels.erase %></a></div>
</div>